body{
    background-color: blue;
}
h1{
    color: red;
    font-family: 'Times New Roman', Times, serif;
    background-color: black;
}
h2{
    color: red;
    font-family: 'Times New Roman', Times, serif;
    background-color: black;
    
}
h3{
    color: green;
    font-family: 'Times New Roman', Times, serif;
    background-color: black;
}
h4{
    color: purple;
    font-family: 'Times New Roman', Times, serif;
    background-color: black;
}
h5{
    color: turquoise;
    font-family: 'Times New Roman', Times, serif;
    background-color: black;
}
h6{
    color: yellow;
    font-family: 'Times New Roman', Times, serif;
    background-color: black;
}
