<html>
    <header>
        <a href="./homepage.html">Əsas Səhifə</a>
        <a href="./contact.html">Əlaqə</a>
        <a href="./about.html">Haqqımızda</a>
        <a href="./projects.html">Layihələr</a>
    </header>
    <body style="background: rgb(10, 147, 156);">
        <h1>Haqqımızda</h1>
        <img src ="../assets/images/1641949621854.jpg" style="width: 300px;height: 400px;" alt="My Fav Photo">
        <p>Mən Əli Əlizadə, Azərbaycan Dövlət Neft və Sənaye Üniversitetində IT ixtisası üzrə 2ci kurs tələbəsiyəm :)</p>
        
    </body>



</html>