<html>
    <header>
        <a href="./homepage.html">Əsas Səhifə</a>
        <a href="./contact.html">Əlaqə</a>
        <a href="./about.html">Haqqımızda</a>
        <a href="./projects.html">Layihələr</a>
    </header>
    <body style="background-color: rgb(10, 147, 156);">
        <h1>Əsas Səhifə</h1>
        <p style="width: 300px; text-align: right;">Welcome To My Website :d</p>
        <img src="../assets/images/khaby-lame.gif" style="width: 300px; height: 400px;" alt="">
    </body>
    



</html>