<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="../assets/style/style.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="mainBlock">
        <div class="row1">
            <div class="col12">

            </div>
        </div>
        <div class="row2">
            <div class="col2">

            </div>
            <div class="col8">
                
            </div>
            <div class="col2">

            </div>
        </div>
        <div class="row3">
            <div style="height: 100px;" class="col2">

            </div>
            <div style="height: 100px; background-color: black;" class="col8">

            </div>
            <div style="height: 100px" class="col2">
            </div>
        </div>
    </div>
</body>
</html>