<!DOCTYPE html>
<html lang="en">
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Boeing</title>
    <link rel="apple-touch-icon" sizes="180x180" href="../assets/image/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="../assets/image/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../assets/image/favicon-16x16.png">
    <link rel="manifest" href="../assets/image/site.webmanifest">
    <link rel="stylesheet" href="../assets/style/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" integrity="sha512-Fo3rlrZj/k7ujTnHg4CGR2D7kSs0v4LLanw2qksYuRlEzO+tcaEPQogQ0KaoGN26/zrn20ImR1DfuLWnOo7aBA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <header>
        <div class="icon">
            <img class="boeinglogo" src="../assets/image/logo.jpg" alt="">
        </div>
        <div class="linkContainer">
            <div>
                <a href="#">Information</a>
                <p>About</p>
                <p>News</p>
                <p>Press</p>
                <p>Contact</p>
            </div>
            <div>
                <a href="#">Portfolio</a>
                <p>Products</p>
                <p>Graphics</p>
                <p>Projects</p>
                <p>Concepts</p>
                <p>Sounds</p>
            </div>
            <div>
                <a href="#">Network</a>
                <p>Email</p>
                <p>Twitter</p>
                <p>Facebook</p>
            </div>
        </div>
    </header>
    <main>
        <section class="column1">
            <div class="row1">
                <a href="#">About</a>
                <h1>Type Something</h1>
                <p class="p1">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Tempora cupiditate facere voluptatum, odio tempore ad dolor dolorem eos delectus, amet ea ab, iusto molestiae modi ducimus ipsam. Beatae, praesentium quisquam?</p>
            </div>
            <div class="row2">
                <video height="100%" src="../assets/video/f99fb511-4b1c-4857-abc4-65b6b355dc71.mp4" controls autoplay loop></video>
            </div> 
            <div class="ads">
                <p class="adstext">Burada</p>
                <p class="adstext">Sizin</p>
                <p class="adstext">Reklamız</p>
                <p class="adstext">Ola</p>
                <p class="adstext">Bilərdi</p>
            </div> 
        </section>
        <section class="column2">
            <div class="row3">
                <div class="row3column1">
                    <a href="#">Thoughts</a>
                    <p class="p1">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Tempora cupiditate facere voluptatum, odio tempore ad dolor dolorem eos delectus, amet ea ab, iusto molestiae modi ducimus ipsam. Beatae, praesentium quisquam?</p>
                </div>
                <div class="row3column2">
                    <a href="#">Products</a>
                    <h1>Stealth Vases</h1>
                    <p class="p1">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Tempora cupiditate facere voluptatum, odio tempore ad dolor dolorem eos delectus, amet ea ab, iusto molestiae modi ducimus ipsam. Beatae, praesentium quisquam?</p>
                </div>
            </div>
            <div class="row4">
                <div style="height: 100%;width: 100%;" id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img style="height: 480px;" src="../assets/image/qatarair.jpg" class="d-block w-100" alt="...">
                        </div>
                        <div class="carousel-item">
                            <img style="height: 480px;" src="../assets/image/dslsm.jpg" class="d-block w-100" alt="...">
                        </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
            </div>
            <div class="row5">
                <div class="row5column1">
                    <a href="#">Press</a>
                    <p class="p1">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Tempora cupiditate facere voluptatum, odio tempore ad dolor dolorem eos delectus, amet ea ab, iusto molestiae modi ducimus ipsam. Beatae, praesentium quisquam?</p>
                </div>
                <div class="row5column2">
                    <img class="img3" src="../assets/image/caf30cc786de79f48c553a28b5491439.jpg" alt="">
                </div>
            </div>
        </section>
        <section class="column3">
            <div class="row6">
                <a href="#">News</a>
                <h1>Spinthesizer on Notcot</h1>
                <p class="p1">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Tempora cupiditate facere voluptatum, odio tempore ad dolor dolorem eos delectus, amet ea ab, iusto molestiae modi ducimus ipsam. Beatae, praesentium quisquam?</p>
            </div>
            <div class="row7">
                <img class="img2" src="../assets/image/dslsm.jpg" alt="">
            </div>
        </section>
        <button class="top">
            <a style="color: black;" href="#">TOP</a>
        </button>
    </main>
</body>
</html>