<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/style/styl.css">
    <title>Sign Up Facebook | Facebook</title>
</head>
<body>
    <header>
        <div class="div0">
            <img src="../assets/image/facebook logo.svg" alt="">
        </div>
    </header>

    <div class="div1">
        <h1 class="h1-0">Create a new account</h1>
        <p class="p0">It’s quick and easy.</p> <br>
    </div>
    <form class="form0" action="">
        <div class="div2">
            <label for="fname"></label>
            <input style="height: 25px;" type="text" name="fname" id="lname" required placeholder="First Name">
            <label for="lname"></label>
            <input style="height: 25px;" type="text" name="lname" id="lname" required placeholder="Last Name">
        </div>
        <div class="div3">
            <label class="label2" for="mail"></label>
            <input style="width: 338px;height: 25px ;" class="input2" type="email"  name="mail" id="mail" required placeholder="Email">
        </div>
        <div class="div4">
            <label for="pwd"></label>
            <input style="width: 338px;height: 25px ;" type="password" name="pwd" id="pwd" required placeholder="New Password">
        </div>
        <div class="div5">
            <label class="label3" style="font-size: 12px; margin-right: 310px; " for="btd">Birthday</label> <br>
            <select style="width: 113px;height: 25px ;" name="btd" id="btd">
                <option value="jan">January</option>
                <option value="feb">February</option>
                <option value="march">March</option>
                <option value="april">April</option>
                <option value="may">May</option>
                <option value="june">June</option>
                <option value="july">July</option>
                <option value="august">August</option>
                <option value="september">September</option>
                <option value="octomber">Octomber</option>
                <option value="november">November</option>
                <option value="december">December</option>
            </select>
            <select style="width: 113px;height: 25px ;" name="day" id="day">
                <option value="">1</option>
                <option value="">2</option>
                <option value="">3</option>
                <option value="">4</option>
                <option value="">5</option>
                <option value="">6</option>
                <option value="">7</option>
                <option value="">8</option>
                <option value="">9</option>
                <option value="">10</option>
                <option value="">11</option>
                <option value="">12</option>
                <option value="">13</option>
                <option value="">14</option>
                <option value="">15</option>
                <option value="">16</option>
                <option value="">17</option>
                <option value="">18</option>
                <option value="">19</option>
                <option value="">20</option>
                <option value="">21</option>
                <option value="">22</option>
                <option value="">23</option>
                <option value="">24</option>
                <option value="">25</option>
                <option value="">26</option>
                <option value="">27</option>
                <option value="">28</option>
                <option value="">29</option>
                <option value="">30</option>
                <option value="">31</option>
            </select>
            <select style="width: 113px;height: 25px ; " name="year" id="year">
                <option value="">2022</option>
                <option value="">2021</option>
                <option value="">2020</option>
                <option value="">2019</option>
                <option value="">2018</option>
                <option value="">2017</option>
                <option value="">2016</option>
                <option value="">2015</option>
                <option value="">2014</option>
                <option value="">2013</option>
                <option value="">2012</option>
                <option value="">2011</option>
                <option value="">2010</option>
                <option value="">2009</option>
                <option value="">2008</option>
                <option value="">2007</option>
                <option value="">2006</option>
                <option value="">2005</option>
                <option value="">2004</option>
                <option value="">2003</option>
                <option value="">2002</option>
                <option value="">2001</option>
                <option value="">2000</option>
            </select>

        </div>
        <div class="div6">
            <label style="font-size: 12px; margin-right: 320px;" for="gender">Gender</label> <br>
            <span class="span6">
                <label for="gender1">Female</label>
                <input style="width: 100px;" type="radio" name="gender" id="gender1">
            </span>
            <span class="span7">
                <label for="gender2">Male</label>
                <input style="width: 100px;" type="radio" name="gender" id="gender2">
            </span>
        </div>
        <div class="div7">
            <p style="font-size: 12px;">By clicking Sign Up, you agree to our Terms, Data Policy and Cookies Policy. You may receive SMS Notifications from us and can opt out any time.</p>
        </div>
        <div class="div8">
            <input class="input8" type="submit" value="Sign Up">
        </div>
    </form>
</body>
</html>