*{
    box-sizing: border-box;
}
body{
    margin: 0px;
    padding: 0px;
    background-color: grey;
}
.card-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 48px;
    margin-top: 100px;
    row-gap: 30px;
}