*{
    box-sizing: border-box;
}
body{
    padding: 0px;
    margin: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.clock{
    height: 500px;
    width: 500px;
    border-radius: 50%;
    border: 1px solid #000;
    position: relative;
    
    div{
        margin: 0px;
        padding: 0px;
        width: 30px;
        font-size: 30px;
        position: absolute;
        display: flex;
        justify-content: center;
    }
    #minute-clockwise{
        width: 15px;
        height: 215px;
        bottom: 245px;
        right: 241.5px;
        background-color: black;
        transform-origin: bottom;
        border-radius: 8px;
        z-index: 1;
    }
    #second-clockwise{
        width: 15px;
        height: 215px;
        bottom: 245px;
        right: 241.5px;
        background-color: gray;
        transform-origin: bottom;
        border-radius: 8px;
        z-index: 1;
    }
    #hour-clockwise{
        width: 15px;
        height: 107.5px;
        right: 241.5px;
        bottom: 245px;
        border-radius: 8px;
        height: 2;
        background-color: red;
        transform-origin: bottom;
        z-index: 1;
    }
    .analog-clock{
        left: 340px;
        top: 221.5px;
        z-index: 0;
        width: 110px;
        height: 50px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        border: 1px solid black;
    }
    #hour{
        
        color: black;
    }
    #minute{
        left: 40px;
        color: black;
    }
    #second{
        left: 75px;
        color: black;
    }
    .twelve{
        color: red;
        left: 234px;
        width: 30px;
        font-size: 30px;
    }
    .six{
        left: 234px;
        top: 463.6px;
        display: flex;
        justify-content: center;
    }
    .three{
        left: 468px;
        top: 231.8px;
    }
    .nine{
        right: 468px;
        top: 231.8px;
    }
    .one{
        left: 350px;
        top: 28.6px;
    }
    .eleven{
        top: 28.6px;
        right: 350px;
    }
    .two{
        left: 435px;
        top: 110px;
    }
    .four{
        bottom: 110px;
        left: 435px;
    }
    .five{
        bottom: 28.6px;
        left: 350px;
    }
    .seven{
        bottom: 28.6px;
        right: 350px;
    }
    .eight{
        bottom: 110px;
        right: 435px;
    }
    .ten{
        right: 435px;
        top: 110px;
    }
    .dot{
        width: 30px;
        height: 30px;
        border-radius: 50%;
        background-color: red;
        top: 234px;
        right: 234px;
    }
    
}