*{
    box-sizing: border-box;
}
body{
    padding: 0px;
    margin: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.container-calculator{
    width: 400px;
    height: 500px;
    background-color: rgb(13, 59, 80);
    border: 4px solid orange;
    
    .display{
        width: 400px;
        height: 200px;
        #dsply{
            width: 392px;
            height: 100%;
            font-size: 100px;
            font-weight: 300;
            text-align: right;
            color: white;
            background-color: black;
            border: none;
        }

    }
    .buttons{
        width: 400px;
        height: 300px;
        display: flex;
        flex-direction: column;
        row-gap: 10px;
        padding: 10px;
        .line1, .line2, .line3, .line4{
            width: 100%;
            height: 75px;
            display: flex;
            flex-direction: row;
            column-gap: 10px;
            .multiply{
                border: 1px solid black;
                border-radius: 30px;
               background-color: #fda06d;
               width: 64.34px;

                height: 150px;
            }
            .minus{
                border: 1px solid black;
               background-color: #fda06d;
               font-size: 40px;
                width: 64.34px;
                border-radius: 50%;
            }
            .sum{
                border: 1px solid black;
               background-color: #fda06d;
                width: 64.34px;
                border-radius: 50%;
            }
            .divide{
               border: 1px solid black;
               border-radius: 30px;
               background-color: #fda06d;
               width: 64.34px;

                height: 150px;
            }
            .equal{
               background-color: #f8599b;
               width: 138.68px;
               border: 1px solid black;
               border-radius: 40%;

            }
            button{
                width: 75px;
                display: flex;
                justify-content: center;
                align-items: center;
                
            }
            button:hover{
                opacity: 40%;
            }
        }
        .line3{
            width: 235px;
        }
    }
}
button{
    background-color: unset;
    cursor: pointer;
    font-size: 30px;
}