*{
    box-sizing: border-box;
}
body{
    background-color: rgb(149, 104, 180);
    margin: 0px;
    padding: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    margin: 0px;
    padding: 0px;
    background-color: white;
    width: 350px;
    height: 500px;
    
    margin-top: 50px;
    border-radius: 3.5px;
}
h1, form, .sbmt{
    padding-left: 30px;
    padding-right: 30px;
}
button{
    margin-top: 35px;
    width: 102%;
    background-color: #72468e;
    color: white;
    text-align: center;
    height: 35px;
    border-radius: 4px;
    border-width: 0px;
}
input{
    margin-top: 5px;
    width: 100%;
    height: 25px;
    border-radius: 3px;
    border-style: solid;
    border-color: gray;
    border-width: 1px;
}
.email, .pwd, .pwd2{
    padding-top: 20px;
}
h1{
    padding-top: 10px;
}
#myForm{
    div{
        position: relative;
        i{
            position: absolute;
            right: 5px;
            bottom: 24px;
            visibility: hidden;
            color: crimson;
        }
        small{
            position: relative;
            left: 0px;
            color: crimson;
            visibility: visible;
        }
    }
}

