.col2{
    width: calc(100% / 6);
    background-color: gray;
    height: 505px;
    float: left;
}
.col8{
    width: calc(100% * 8 / 12);
    background-color: white;
    height: 505px;
    float: left;
}
.col12{
    width: 100%;
    background-color: black;
    height: 100px;
}