.page-location-container{
    height: 66.6px;
    padding: 20px;
    border-bottom: 1px solid rgb(236, 236, 236);
    .page-location{
        padding: 0px 12px;
        display: flex;
        align-items: center;
        width: 250.26px;
        justify-content: space-between;
        a{
            width: 58.73px;
            display: flex;
            justify-content: space-between;
            i{
                color: #3BB77E;
                font-size: 14px;
            }
            p{
                font-size: 14px;
                font-weight: 600;
                color: #3BB77E;
            }
        }
        i{
            font-size: 9px;
            color: #7e7e7e;
        }
        p{
            font-size: 14px;
            color: #7e7e7e;
        }
    }
}
.faqs-container{
    height: 408px;
    padding-top: 50px;
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    .how-can-help-you{
        width: 421.99px;
        height: 358px;
        padding: 0px 12px;
        h2{
            color: #3BB77E;
            line-height: 28.8px;
            font-size: 24px;
            font-weight: 700;
            margin-bottom: 20px;
        }
        h1{
            color: #253d4e;
            line-height: 57.6px;
            margin-bottom: 30px;
            font-weight: 700;
            font-size: 48px;
        }
        p{
            color: #7e7e7e;
            font-size: 16px;
            line-height: 24px;
            font-weight: 400;
        }
        .firstParaghraph{
            margin-bottom: 20px;
        }
    }
    .faqs{
        width: 867.99px;
        height: 256px;
        padding: 0px 12px;
        display: flex;
        flex-wrap: wrap;
        .faq{
            width: 421.99px;
            height: 116px;
            padding: 0px 12px;
            h1{
                color: #253d4e;
                line-height: 24px;
                font-size: 20px;
                font-weight: 700;
                margin-bottom: 20px;
            }
            p{
                color: #7e7e7e;
                line-height: 24px;
                font-size: 16px;
                font-weight: 400;
            }
        }
        .faq1,.faq2{
            margin-bottom: 24px;
        }
        .faq3{
            h1{
                color: #3BB77E;
            }
        }
    }
}
.map{
    height: 350px;
    padding: 0px 12px;
    margin-bottom: 50px;
    iframe{
        border-radius: 15px;
    }
}
.page-contact-container{
    height: 874.6px;
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    .contacts{
        height: 199.4px;
        margin-bottom: 60px;
        display: flex;
        div{
            display: flex;
            flex-direction: column;
            width: 421.99px;
            height: 100%;
            padding: 0px 12px;

            h1{
                margin-bottom: 15px;
                color: #3BB77E;
                line-height: 28.8px;
                font-size: 24px;
                font-weight: 700;
            }
            p{
                color: #7e7e7e;
                line-height: 21px;
                font-size: 14px;
                font-weight: 400;
            }
            a{
                i{
                    margin-right: 5px;
                }
                width: 116.26px;
                height: 39.6px;
                background-color: #3BB77E;
                color: white;
                padding: 8px 18px;
                border-radius: 4px;
                margin-top: 20px;
                font-size: 12px;
                font-weight: 700;
                line-height: 21.6px;
            }
        }
    }
    .contact-form-container{
        height: 615.2px;
        display: flex;
        .contact-form{
            height: 100%;
            width: 843.99px;
            padding: 0px 12px;
            form{
                width: 843.99px;
                height: 469.2px;
                display: flex;
                flex-wrap: wrap;
                div{
                    width: 421.99px;
                    height: 84px;
                    padding: 0px 12px;
                    input{
                        height: 64px;
                        width: 100%;
                        padding: 1px 2px 1px 20px;
                        border-radius: 10px;
                        border: 1px solid rgb(236, 236, 236);
                    }
                    
                }
                .textbox{
                    width: 843.99px;
                    height: 200px;
                    padding: 0px 12px;
                    margin-bottom: 30px;
                    textarea{
                        width: 100%;
                        height: 100%;
                        padding: 10px 10px 10px 20px;
                        border: 1px solid rgb(236, 236, 236);
                        border-radius: 10px;
                    }
                }
                button{
                    width: 196.64px;
                    height: 64px;
                    background-color: #253d4e;
                    padding: 20px 40px;
                    margin-left: 12px;
                    border-radius: 10px;
                    border: 0px;
                    color: white;
                    font-size: 17px;
                    font-weight: 500;
                }
            }
            h2{
                color: #3BB77E;
                line-height: 24px;
                margin-bottom: 10px;
                font-size: 20px;
                font-family: 700;
            }
            h1{
                color: #253d4e;
                margin-bottom: 10px;
                line-height: 48px;
                font-size: 40px;
                font-weight: 700;
            }
            p{
                line-height: 24px;
                color: #7e7e7e;
                margin-bottom: 30px;
                font-size: 14px;
                font-weight: 400;
            }
        }


        .contact-image{
            width: 421.99px;
            height: 100%;
            padding-left: 50px;
            padding-right: 12px;
            img{
                border-radius: 15px;
                height: 391.68px;
                margin-bottom: 50px;
            }
        }
    }
}