footer{
    height: auto;
    display: flex;
    flex-direction: column;
    h1{
        font-family: Quicksand;
        color: #253d4e;
    }
    a, span, p{
        font-family: Lato,sans-serif;
    }
}
.subscribtion{
    margin: 0px 12px;
    border-radius: 20px;
    padding: 84px 78px;
    margin-bottom: 15px;
    height: 417px;
    background-image: url('http://wp.alithemes.com/html/nest/demo/assets/imgs/banner/banner-10.png');
    background-size: cover;
    position: relative;
    .subscribtion-texts-container{
        h1{
            
            font-size: 40px;
            font-weight: bolder;
            margin-bottom: 20px;
        }
        p{
            font-size: 18px;
            color: #7e7e7e;
            height: 24px;
            margin-bottom: 45px;
            b{
                font-size: 18px;
                color: #3BB77E;
            }
        }
        .subscribe{
            width: 450px;
            height: 64px;
            i{
                color: #b6b6b6;
                position: absolute;
                left: 105px;
                bottom: 107px;
            }
            input{
                width: 292.45px;
                height: 64px;
                padding: 1px 2px 1px 58px;
                font-size: 16px;
                border: 0px;
                border-radius: 50px;
            }
            .btnSubscribe{
                width: 157.55px;
                height: 64px;
                background-color: #3Bb77e;
                border-radius: 50px;
                padding: 15px 40px;
                color: white;
                border: 0px;
            }
        }
    }
    img{
        width: 546px;
        height: 383px;
        position: absolute;
        top: 34px;
        right: 50px;
    }
}
.ability-of-company{
    padding: 25px 12px;
    height: 162.2px;
    display: flex;
    column-gap: 24px;
    div{
        display: flex;
        align-items: center;
        padding: 20px;
        width: 279.84px;
        height: 112.2px;
        border-radius: 10px;
        background-color: rgb(244, 246, 250);
        &:hover{
            .icon{
                transform: translateY(-5px);
            }
        }
        .icon{
            margin-right: 20px;
            padding: 0px;
            height: 67.2px;
            transition: 0.4s;
            width: 60px;
            img{
                width: 60px;
                height: 60px;
            }
        }
        .text{
            height: 50.6px;
            padding: 0px;
            display: flex;
            flex-direction: column;
            h1{
                width: 100%;
                font-size: 18px;
                font-weight: 700;
                color: rgb(36, 36, 36);
                margin-bottom: 5px;
                text-align: left;
            }
            p{
                width: 100%;
                height: 24px;
                font-size: 16px;
                color: #7e7e7e;
            }
        }
    }
}
.main-footer{
    padding: 25px 12px;
    height: 687.1px;
    .links{
        display: flex;
        height: 315.4px;
        flex-wrap: wrap;
        .about-company{
            width: 300px;
            .logo{
                width: 300px;
                height: 135.4px;
                margin-bottom: 30px;
                img{
                    margin-bottom: 15px;
                }
                p{
                    height: 48px;
                    color: #253d4e;
                    font-size: 17px;
                }
            }
            .content{
                height: 150px;
                .content-1{
                    display: flex;
                    height: 48px;
                    margin-bottom: 10px;
                    p{
                        font-size: 15px;
                        color: #253d4e;
                        img{
                            width: 16px;
                            height: 17px;
                            margin-right: 8px;
                        }
                    }
                }
                .content-2{
                    display: flex;
                    margin-bottom: 10px;
                    height: 24px;
                    p{
                        font-size: 15px;
                        color: #253d4e;
                        img{
                            width: 16px;
                            height: 17px;
                            margin-right: 8px;
                        }
                    }
                }
                .content-3{
                    display: flex;
                    margin-bottom: 10px;
                    height: 24px;
                    p{
                        font-size: 15px;
                        color: #253d4e;
                        img{
                            width: 16px;
                            height: 17px;
                            margin-right: 8px;
                        }
                    }
                }
                .content-4{
                    display: flex;
                    height: 24px;
                    p{
                        font-size: 15px;
                        color: #253d4e;
                        img{
                            width: 16px;
                            height: 17px;
                            margin-right: 8px;
                        }
                    }
                }
            }
        }
        .link{
            width: 248.8px;
            height: 100%;
            padding: 0px 12px;
            margin-right: 50px;
            display: flex;
            flex-direction: column;
            h1{
                height: 28.8px;
                margin-top: 15px;
                margin-bottom: 20px;
                color: #253d4e;
                font-size: 24px;
                font-weight: 700;
            }
            a{
                height: 24px;
                margin-bottom: 13px;
                color: #253d4e;
                font-size: 15px;
                transition: 0.3s;
                &:hover{
                    transform: translateX(7px);
                    color: #3BB77E;
                }
            }
            .last-link{
                margin-bottom: 0px;
            }
        }
    }
    .application-container{
        height: 286.7px;
        display: flex;
        flex-direction: column;
        h1{
            color: #253d4e;
            font-size: 24px;
            font-weight: 700;
            margin-top: 15px;
            margin-bottom: 20px;
        }
        p{
            font-size: 15px;
            color: #253d4e;
            height: 24px;
            margin-bottom: 5px;
        }
        .application-icons{
            display: flex;
            height: 57.7px;
            margin: 25px 0px 33px;
            img{
                width: 128px;
                height: 42.5px;
                margin-right: 12px;
                transition: 0.4s;
                cursor: pointer;
                &:hover{
                    transform: translateY(-5px);
                }
            }
        }
        span{
            font-size: 15px;
            color: #253d4e;
            margin-bottom: 20px;
            height: 24px;
        }
        .cards{
            width: 224px;
            height: 32px;
        }
    }
}
.lastest-part-of-footer{
    height: 115px;
    padding: 0px 12px 30px 12px;
    .lastest-part-of-footer-container{
        align-items: flex-end;
        border-top: 1px solid rgb(188, 227, 201);
        color: #7e7e7e;
        display: flex;
        height: 100%;
        p{
            font-size: 14px;
            color: #7e7e7e;
            line-height: 24px;
            b{
                color: #3BB77E;
                font-weight: 600;
            }
        }
        .call-center{
            height: 45.2px;
            display: flex;
            column-gap: 30px;
            div{
                display: flex;
                width: 200px;
                img{
                    color: #7e7e7e;
                    width: 30px;
                    height: 38px;
                    margin-right: 12px;
                }
                div{
                    display: flex;
                    flex-direction: column;
                    h1{
                        color: #3BB77E;
                        font-size: 26px;
                        font-weight: 700;
                        height: 26px;
                    }
                    p{
                        color: #7e7e7e;
                        font-size: 12px;
                        height: 12px;
                        display: flex;
                        align-items: center;
                        padding-top: 3px;
                        padding-left: 5px;
                    }
                }
            }
        }
        .social-websites{
            height: 54px;
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            .social-websites-column-1{
                display: flex;
                align-items: center;
                height: 30px;
                h1{
                    color: #253d4e;
                    font-size: 16px;
                    font-weight: 700;
                    margin-right: 15px;
                }
                .social-websites-icon{
                    width: 30px;
                    height: 30px;
                    background-color: #3BB77E;
                    border-radius: 50%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    margin-right: 5px;
                    img{
                        width: 16px;
                        height: 30px;
                    }
                }
            }
        }
    }
}
.subscribe{
    background-color: white;
    border-radius: 50px;
    .btnSubscribe:hover{
        background-color: #29A56C !important;
    }
    .btnSubscribe{
        transition: 300ms;
    }
}
