header{
    height: 161.25px;
}
.header-container{
    width: 100%;
    height: 35.8px;
    padding: 10px 12px;
    border-bottom: 1px solid rgb(236, 236, 236);
    // margin-right: 0px;
    .header-left{
        height: 13px;
       
        ul{
            width: 355.8px;
            display: flex;
            justify-content: flex-start;
            li{
                display: flex;
                align-items: center;
                justify-content: center;
                padding: 0px 10px;
                border-right: 1px solid #7e7e7e;
                a{
                    text-decoration: none;
                    font-size: 13px;
                    font-family: Lato;
                    color: #7e7e7e;
                    transition: 0.3s;
                }
                a:hover{
                    color: black;
                }
            }
            .about-us{
                padding-left: 0px;
            }
            .order-tracking{
                padding-right: 0px;
                border-right: 0px;
            }
        }
    }
    .header-center{
        height: 15.8px;
        text-align: center;
        p{
            color: #7e7e7e;
            font-size: 14px;
           
        }
    }
    .header-right{
        display: flex;
        font-size: 13px;
        height: 13.8px;
        justify-content: flex-end;
        padding: 0px;
        .drop-down{
            position: absolute;
            top: 13.8px;
            padding: 10px 15px;
            margin-top: 10px;
            right: -10.5px;
            bottom: -91px;
            width: 120px;
            height: 91px;
            background-color: white;
            display: flex;
            justify-content: space-between;
            // align-items: center;
            flex-direction: column;
            border: 1px solid rgb(236, 236, 236);
            opacity: 0;
            visibility: hidden;
            transition: 0.5s;
            z-index: 1;
            a{
                font-size: 13px;
                font-weight: 500;
                color: #253D4E !important;
                img{
                    width: 15px;
                    height: 9.9px;
                    margin-right: 5px;
                }
            }
        }
        .header-right-1{
            p{
                font-size: 13px;
                padding-right: 10px;
                color: #7e7e7e;
                strong{
                    color: #3bb77e;
                }
            }
            border-right: 1px solid #7e7e7e;
        }
        .header-right-2{
            position: relative;
            padding: 0px 10px;
            a{
                color: #7e7e7e;
                transition: 0.3s;
            }
            
            
        }
        .header-right-2:hover{
            .dropdown-language{
                opacity: 100;
                visibility: visible;
            }
            a{
                color: black;
            }
        }
        .header-right-3{
            position: relative;
            padding: 0px 10px;
            border-left: 1px solid #7e7e7e;
            padding-right: 0px;
            a{
                color: #7e7e7e;
                transition: 0.3s;
            }
            // .dropdown-currency{
            //     position: absolute;
            //     top: 25px;
            //     padding: 15px;
            //     right: -20px;
            //     width: 80px;
            //     height: 100px;
            //     background-color: white;
            //     display: flex;
            //     justify-content: space-between;
            //     align-items: center;
            //     flex-direction: column;
            //     border: 1px solid rgb(236, 236, 236);
            //     opacity: 0;
            //     visibility: hidden;
            //     transition: 0.5s;
            //     a{
            //         font-size: 15px;
            //         color: black;
            //     }
            // }
        }
        .header-right-3:hover{
            .dropdown-currency{
                opacity: 100;
                visibility: visible;
            }
            a{
                color: black;
            }
        }
    }
}
.header-container-2{
    display: flex;
    width: 100%;
    height: 122.45px;
    padding: 30px 12px;
    border-bottom: 1px solid rgb(236, 236, 236);
    justify-content: space-between;
    .logo-container{
        // width: 250px;
        width: auto;
        height: 62.45px;
        display: flex;
        justify-content: flex-start;
        img{
            cursor: pointer;
            width: 180px;
            height: 55.25px;
        }
    }
    .search-container{
        width: 55%;
        // width: auto;
        height: 54px;
        .search{
            // width: 700px;
            width: 100%;
            height: 100%;
            border: 2px solid rgb(188, 227, 201);
            border-radius: 4px;
            .categories{
                width: 155px;
                height: 50px;
                padding-left: 20px;
                justify-content: space-around;
                cursor: pointer;
                p{
                    font-size: 14px;
                    color: #253D4E;
                    font-family: Quicksand;
                    font-weight: 700;
                }
            }
            .search-input{
                display: flex;
                justify-content: flex-end;
                // width: 546px;
                width: auto;
                height: 50px;
                margin-left: 20px;
                padding-right: 15px;
                #srch{
                    border: 0px;
                    width: 100%;
                    height: 100%;
                }
                i{
                    display: flex;
                    align-items: center;
                    color: #7e7e7e;
                    font-size: 20px;
                }
            }
        }
    }
    .header-container-2-right{
        // width: 400.11px;
        width: auto;
        height: 54px;
        column-gap: 7px;
        align-items: center;
        // margin-left: 20px;
        .compare, .wishlist, .cart{
            position: relative;
            cursor: pointer;
            div{
                position: absolute;
                left: 15px;
                top: -2px;
                border-radius: 50%;
                width: 20px;
                height: 20px;
                background-color: #3bb77e;
                color: white;
                font-size: 12px;
            }
        }
        p{
            color: #7e7e7e;
            font-size: 16px;
        }
        i{
            font-size: 25px;
            color: black;
        }
        div,a{
            display: flex;
            align-items: flex-end;
            height: 30px;
        }
        .wishlist{
            p{
                margin-left: 7px;
            }
        }
        .cart{
            width: 87px;
            p{
                margin-left: 7px;
            }
        }
        .account{
            p{
                margin-left: 3px;
            }
            cursor: pointer;
        }
    }
}