.page-location-container{
    height: 66.6px;
    padding: 20px;
    border-bottom: 1px solid rgb(236, 236, 236);
    .page-location{
        padding: 0px 12px;
        display: flex;
        align-items: center;
        width: 250.26px;
        justify-content: space-between;
        a{
            width: 58.73px;
            display: flex;
            justify-content: space-between;
            i{
                color: #3BB77E;
                font-size: 14px;
            }
            p{
                font-size: 14px;
                font-weight: 600;
                color: #3BB77E;
            }
        }
        i{
            font-size: 9px;
            color: #7e7e7e;
            // padding: 0px 12px;
        }
        p{
            font-size: 14px;
            color: #7e7e7e;
        }
    }
}
.page-content{
    padding: 150px 0px;
    height: 690.8px;
    .page-content-container{
        display: flex;
        margin: auto;
        width: 1266px;
        height: 390.8px;
        .page-content-menu-bar{
            width: 316.5px;
            height: 100%;
            padding: 0px 12px;
            display: flex;
            flex-direction: column;
            row-gap: 10px;
            div{
                width: 292.5px;
                height: 56.8px;
                border-radius: 10px;
                border: 1px solid rgb(236, 236, 236);
                a{
                    display: flex;
                    padding: 15px 30px;
                    align-items: center;
                    i{
                        color: #7E7E7E;
                        font-size: 19px;
                        font-weight: 700;
                        margin-right: 10px;
                    }
                    p{
                        color: #7E7E7E;
                        font-size: 16px;
                        font-weight: 700;
                    }
                }
            }
            .active-div{
                background-color: #3BB77E;
                p{
                    color: white;
                }
                i{
                    color: white;
                }
            }
        }
        .page-content-text{
            height: 100%;
            padding: 0px 12px;
            .dashboard-content{
                height: 150.4px;
                padding-left: 50px;
                .content-header{
                    height: 70.4px;
                    padding: 16px;
                    h1{
                        color: #253d4e;
                        font-size: 32px;
                        font-weight: bolder;
                    }
                }
                .content-bottom{
                    height: 80px;
                    padding: 16px;
                    p{
                        color: #7E7E7E;
                        font-size: 16px;
                        font-weight: 400;
                        line-height: 24px;
                        a{
                            color: #3BB77E;
                        }
                    }
                }
            }
        }
    }
}