main{
    height: auto;
    display: flex;
    flex-direction: column;
    font-family: Quicksand;
}
.slider{
    padding: 20px 12px;
    height: auto;
    .banner-slider-container{
        #slick-slide-control00, #slick-slide-control01{
            display: none !important;
        }
        position: relative;
        .banner-slider-1{
            .onbanner-container{
                margin-top: 80px;
                margin-left: 80px;
                width: 679.76px;
                height: 337px;
                position: absolute;
                .headerText{
                    width: 100%;
                    height: 144px;
                    margin-bottom: 40px;
                    h1{
                        color: rgb(37, 61, 78);
                        font-size: 72px;
                    }
                }
                .paragraph{
                    width: 100%;
                    height: 24px;
                    margin-bottom: 65px;
                    p{
                        font-size: 30px;
                        font-weight: 400;
                        color: rgb(126, 126, 126);
                    }
                }
                .subscribe{
                    width: 450px;
                    height: 64px;
                    i{
                        color: #b6b6b6;
                        position: absolute;
                        left: 25px;
                        bottom: 23px;
                    }
                    input{
                        width: 292.45px;
                        height: 64px;
                        padding: 1px 2px 1px 58px;
                        font-size: 16px;
                        font-weight: 400;
                        border: 0px;
                        border-radius: 50px;
                    }
                    .btnSubscribe{
                        width: 157.55px;
                        height: 64px;
                        background-color: #3Bb77e;
                        border-radius: 50px;
                        padding: 15px 40px;
                        color: white;
                        border: 0px;
                    }
                }
            }
            .slider-prev{
                position: absolute;
                top: calc(50% - 45px);
                left: 15px;
                z-index: 1;
                width: 45px;
                height: 45px;
                border-radius: 50%;
                border: 0px;
                background-color: white;
                opacity: 0;
                visibility: hidden;
                transition: 0.3s;
                i{
                    color: #7e7e7e;
                }
            }
            .slider-next{
                position: absolute;
                right: 15px;
                width: 45px;
                height: 45px;
                border-radius: 50%;
                border: 0px;
                background-color: white;
                z-index: 1;
                top: calc(50% - 45px);
                opacity: 0;
                visibility: hidden;
                transition: 0.3s;
                i{
                    color: #7e7e7e;
                }
            }
            
        }
        .banner-slider-2{
            .onbanner-container{
                margin-top: 80px;
                margin-left: 80px;
                width: 679.76px;
                height: 337px;
                position: absolute;
                .headerText{
                    width: 100%;
                    height: 144px;
                    margin-bottom: 40px;
                    h1{
                        color: rgb(37, 61, 78);
                        font-size: 72px;
                    }
                }
                .paragraph{
                    width: 100%;
                    height: 24px;
                    margin-bottom: 65px;
                    p{
                        font-size: 30px;
                        font-weight: 400;
                        color: rgb(126, 126, 126);
                    }
                }
                .subscribe{
                    width: 450px;
                    height: 64px;
                    i{
                        color: #b6b6b6;
                        position: absolute;
                        left: 25px;
                        bottom: 23px;
                    }
                    input{
                        width: 292.45px;
                        height: 64px;
                        padding: 1px 2px 1px 58px;
                        font-size: 16px;
                        font-weight: 400;
                        border: 0px;
                        border-radius: 50px;
                    }
                    .btnSubscribe{
                        width: 157.55px;
                        height: 64px;
                        background-color: #3Bb77e;
                        border-radius: 50px;
                        padding: 15px 40px;
                        color: white;
                        border: 0px;
                    }
                }
            }
            .slider-prev2{
                position: absolute;
                top: calc(50% - 45px);
                left: 15px;
                z-index: 1;
                width: 45px;
                height: 45px;
                border-radius: 50%;
                border: 0px;
                background-color: white;
                opacity: 0;
                visibility: hidden;
                transition: 0.3s;
                i{
                    color: #7e7e7e;
                }
            }
            .slider-next2{
                position: absolute;
                width: 45px;
                height: 45px;
                border-radius: 50%;
                border: 0px;
                background-color: white;
                z-index: 1;
                top: calc(50% - 45px);
                right: 15px;
                opacity: 0;
                visibility: hidden;
                transition: 0.3s;
                i{
                    color: #7e7e7e;
                }
            }
        }
        .slick-prev, .slick-next{
            display: none !important;
        }
        
        height: 538px;
        img{
            width: 100%;
            height: 100%;
        border-radius: 30px;

        }
    }
    .banner-slider-container:hover{
        .slider-prev, .slider-prev2, .slider-next, .slider-next2{
            visibility: visible;
            opacity: 100;
        }
    }
    .banner-slider-container{
        .slider-prev:hover, .slider-prev2:hover, .slider-next:hover, .slider-next2:hover{
            background-color: #3BB77E;
            i{
                color: white;
            }
        }
    }
}
.featured-categories{
    padding: 25px 12px;
    .textAndLinks{
        column-gap: 15px;
        height: 40px;
        margin-bottom: 44px;
        .headText{
            display: flex;
            justify-content: flex-start;
            width: 316.9px;
            h1{
                font-size: 32px;
                font-weight: 700;
                color: rgb(37, 61, 78);
            }
        }
        .links{
            width: 458.375px;
            .pet-foods{
                color: #3Bb77e;
            }
            a{
                margin-bottom: 4px;
                font-size: 16px;
                color: #253d4e;
                font-weight: 700;
                transition: 0.2s;
            }
            a:hover{
                margin-bottom: 8px;
                color: #3BB77E;
            }
        }
        .arrows{
            width: 200px;
            margin-left: auto;
            .arrowPrev{
                margin-right: 10px;
            }
            .arrowPrev, .arrowNext{
                width: 40px;
                height: 40px;
                border-radius: 50%;
                cursor: pointer;
                background-color: #F2F3F4;
                transition: 0.3s;
                i{
                    color: rgb(126, 126, 126);
                    transition: 0.3s;
                }
            }
            .arrowPrev:hover, .arrowNext:hover{
                background-color: #3BB77E;
                i{
                    color: white;
                }
            }
            
        }
    }
    .product-slider{
        height: 200.4px;
        .card-1{
            background-color:rgb(242, 252, 228);
        }
        .card-2{
            background-color: rgb(255, 252, 235);
        }
        .card-3{
            background-color: rgb(236, 255, 236);
        }
        .card-4{
            background-color: rgb(254, 239, 234);
        }
        .card-5{
            background-color: rgb(255, 243, 235);
        }
        .card-6{
            background-color: rgb(255, 243, 255);
        }
        .card-7{
            background-color: rgb(242, 252, 228);
        }
        .card-8{
            background-color: rgb(254, 239, 234);
        }
        .card-9{
            background-color: rgb(255, 252, 235);
        }
        .card-10{
            background-color: rgb(254, 239, 234);
        }
        .card-11{
            background-color: rgb(236, 255, 236);
        }
        .slick-prev, .slick-next {
            display: none !important;
        }
        .categories-card:hover{
            border: 0.1px solid #3BB77E;
            .card-texts{
                h6{
                    a{
                        color: #3BB77E;
                    }
                }
            }
        }
        .categories-card{
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 128px;
            height: 180.4px;
            padding: 20px 0px 18px 0px;
            margin: 0px 12px 20px 12px;
            border-radius: 10px;
            transition: 0.3s;
            .card-image{
                width: 100%;
                height: 87.2px;
                margin-bottom: 10px;
                a{
                    display: flex;
                        align-items: center;
                        justify-content: center;
                    img{
                        width: 80px;
                        height: 80px;
                        transition: 0.5s;
                    }
                    img:hover{
                        width: 83px;
                        height: 83px;
                    }
                }
            }
            .card-texts{
                h6{
                    a{
                        font-size: 16px;
                        font-weight: 700;
                        color: #253d4e;
                        transition: 0.3s;
                    }
                }
                p{
                    margin-top: 5px;
                    color: #7e7e7e;
                    font-size: 14px;
                    text-align: center;
                }
            }
            
        }
    }
}
.banners{
    padding: 0px 12px;
    height: 289.84px;
    column-gap: 24px;
    margin-bottom: 25px;
    .banner-1{
        background-image: url(../images/banner-1.png);
        background-size: contain;
    }
    .banner-2{
        background-image: url(../images/banner-2.png);
        background-size: contain;
    }
    .banner-3{
        background-image: url(../images/banner-3.png);
        background-size: contain;
    }
    .banner-1, .banner-2, .banner-3{
        height: 282.64px;
        width: 482.39px;
        border-radius: 10px;
        .banner-text{
            padding: 0px 50px;
            width: 302.93px;
            height: 146.6px;
            h1{
                font-size: 24px;
                height: 100px;
                font-weight: 700;
                margin-bottom: 15px;
                transition: 0.3s;
            }
            
            .btn{
                background-color: rgb(59, 183, 126);
                width: 103.61px;
                height: 31.6px;
                font-size: 12px;
                color: white;
                font-weight: 700;
                transition: 0.3s;
                i{
                    font-size: 10px;
                    margin-left: 9px;
                }
            }
            .btn:hover{
                width: 108.61px;
                background-color: rgb(253, 192, 64);
            }
        }
        .banner-text:hover{         //108.61
            h1{
                margin-top: -5px;
            }

            .btn{
                margin-top: 5px;
            }
        }
    }
    .banner-2{
        .banner-text{
            width: 344.45px;
            h1{
                width: 244.45px;
                height: 100px;
                margin-bottom: 15px;
            }
        }
    }
    .banner-3{
        .banner-text{
            width: 298.3px;
            h1{
                width: 198.3px;
                height: 100px;
                margin-bottom: 15px;
            }
        }
    }
}
.popular-products{
    padding: 25px 12px;
    .textAndLinksOfProducts{
        margin-bottom: 44px;
        .headerText{
            display: flex;
            justify-content: flex-start;
            width: 297px;
            height: 38.4px;
            h1{
                font-size: 32px;
                font-weight: 700;
            }
        }
        .linksOfProducts{
            width: 624px;
            height: 16px;
            a{
                color: #253d4e;
                font-weight: 700;
                transition: 0.3s;
            }
            a:hover{
                color: #3Bb77e;
                padding-bottom: 20px;
            }
        }
    }
    .products{
        justify-content: center;
        column-gap: 24px;
        flex-wrap: wrap;
        .product-cart{
            width: 279.84px;
            height: 446.24px;
            margin-bottom: 30px;
            border: 1px solid rgb(236, 236, 236);
            border-radius: 15px;
            .product-image{
                width: 277.84px;
                height: 252.84px;
                padding: 0px 25px;
                padding-top: 25px;
                position: relative;
                a{
                    img{
                        width: 228px;
                        height: 228px;
                    }
                }
                .hot , .sale , .new , .dealBadge{
                    position: absolute;
                    top: 0px;
                    left: 0px;
                    width: 60.23px;
                    height: 31px;
                    padding: 0px 20px;
                    padding-top: 9px;
                    padding-bottom: 10px;
                    font-size: 12px;
                    background-color: rgb(247, 75, 129);
                    color: white;
                    border-bottom-right-radius: 20px;
                    border-top-left-radius: 15px;
                }
                .sale{
                    background-color: #67bcee;
                }
                .new{
                    background-color: #3BB77E;
                }
                .dealBadge{
                    background-color: #f59758;
                }
            }
            .product-content{
                padding: 0px 20px;
                padding-bottom: 20px;
                height: 191.4px;
                .product-category{
                    a{
                        font-size: 12px;
                        font-family: Lato;
                        color: rgb(173, 173, 173);
                    }
                }
                .product-rate{
                    height: 24px;
                    i{
                        font-size: 12px;
                        color: #fdc040;
                    }
                    p{
                        font-size: 14px;
                        font-family: Lato;
                        color: #b6b6b6;
                        margin-left: 5px;
                    }
                }
                div{
                    height: 24px;
                    p{
                        font-size: 14px;
                        font-family: Lato;
                        color: #b6b6b6;
                        strong{
                            color: #3Bb77e;
                        }
                    }
                }
                h1{
                    font-size: 16px;
                    font-family: Quicksand;
                    font-weight: 700;
                    color: #253d4e;
                }
                .product-cart-bottom{
                    width: 237.84px;
                    height: 36px;
                    margin-top: 15px;
                    .product-price{
                        width: 101.4px;
                        .new-price{
                            font-size: 18px;
                            font-family: Quicksand;
                            color: #3Bb77e;
                            font-weight: 700;
                        }
                        .old-price{
                            margin-left: 7px;
                            font-size: 14px;
                            font-weight: 700;
                            color: rgb(173, 173, 173);
                            text-decoration: line-through;
                        }
                    }
                    .add-to-basket{
                        width: 84.9px;
                        height: 36px;
                        .addToBasket{
                            width: 100%;
                            height: 100%;
                            border: 0px;
                            border-radius: 4px;
                            background-color: rgb(222, 249, 236);
                            color: #3Bb77e;
                            font-size: 14px;
                            font-weight: 700;
                            i{
                                font-size: 14px;
                            }
                        }
                    }
                }
            }
        }
    }
}
.daily-best-sells{
    padding: 25px 12px;
    padding-bottom: 5px;
    .best-seller-textAndLinks{
        margin-bottom: 44px;
        height: 38.4px;
        .best-seller-header-text{
            width: 264.4px;
            h1{
                font-size: 32px;
                font-weight: 700;
            }
        }
        .best-seller-links{
            width: 275.2px;
            a{
                font-size: 16px;
                font-weight: 700;
                color: #253d4e;
            }
        }
    }
    .daily-best-sells-container{
        display: flex;
        flex-direction: row;
        // width: 1108px;
        height: 523.2px;
        column-gap: 12px;
        position: relative;
        .daily-best-sells-slider-prev, .daily-best-sells-slider-next{
            position: absolute;
            width: 40px;
            height: 40px;
            border-radius: 50%;
            
            background-color: #f2f3f4;
            color: rgb(126, 126, 126);
            top: 170px
        }
        .daily-best-sells-slider-prev{
            left: 411.8px;
            z-index: 2;
        }
        .daily-best-sells-slider-next{
            right: 20px;
        }
        .daily-best-sells-slider{
            height: 523.2px;
            width: 1108px;
            display: flex;
            flex-direction: row;
            column-gap: 20px;
            .slick-prev, .slick-next{
                display: none !important;
            }
            
            .salam{
                width: 259px;
                height: 501.2px;
            }
            .card-type-2{
                width: 100%;
                height: 100%;
                border-radius: 15px;
                border: 1px solid rgb(236, 236, 236);
                .card-top{
                    width: 259px;
                    height: 234px;
                    padding: 25px;
                    padding-bottom: 0px;
                    img{
                        width: 100%;
                        height: 100%;
                    }
                }
                .card-bottom{
                    width: 259px;
                    height: 267.2px;
                    padding: 20px;
                    padding-top: 0px;
                    .product-category{
                        margin-bottom: 5px;
                        font-size: 14px;
                        font-weight: 400;
                        color: #7e7e7e;
                        height: 24px;
                        width: 100%;
                    }
                    h1{
                        color: #253d4e;
                        font-size: 16px;
                        font-weight: 700;
                        margin-bottom: 5px;
                    }
                    .product-rate{
                        height: 12px;
                        width: 100%;
                        i{
                            font-size: 12px;
                            color: #fdc040;
                        }
                    }
                    .product-price{
                        width: 100%;
                        height: 29.8px;
                        margin-top: 10px;
                        padding-top: 5px;
                        .new-price{
                            font-size: 18px;
                            font-weight: 700;
                            color: #3BB77E;
                        }
                        .old-price{
                            margin-left: 7px;
                            font-size: 14px;
                            text-decoration: line-through;
                            font-weight: 700;
                            color: #ADADAD;
                        }
                    }
                    .fullPercentage{
                        width: 100%;
                        height: 5px;
                        background-color: #e9ecef;
                        margin: 15px 0px;
                        .sell-average{
                            width: 50%;
                            height: 100%;
                            background-color: #3BB77E;
                            margin-bottom: 10px;
                        }
                        p{
                            font-size: 13px;
                        }
                    }
                    .add-to-cart{
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        width: 219px;
                        height: 47px;
                        padding: 12px 30px;
                        background-color: #3Bb77e;
                        border-radius: 4px;
                        margin-top: 51px;
                        a{
                            font-size: 14px;
                            font-weight: 700;
                            color: white;
                        }
                        
                    }
                }
            }
        }
        .daily-best-sells-banner{
            height: 100%;
            width: 379.8px;
            background-image: url(http://wp.alithemes.com/html/nest/demo/assets/imgs/banner/banner-4.png);
            background-size: cover;
            border-radius: 15px;
            .banner-text{
                margin-top: 50px;
                width: 355.8px;
                height: 275.6px;
                padding: 0px 50px;
                h1{
                    color: #253d4e;
                    font-size: 40px;
                    font-weight: 700;
                    margin-bottom: 100px;
                }
                .btn{
                    width: 103.61px;
                    height: 31.6px;
                    color: white;
                    background-color: #3BB77E;
                    font-size: 12px;
                    border-radius: 4px;
                    padding: 7px 8px 7px 12px;
                    font-weight: 700;
                    i{
                        font-size: 9px;
                    }
                }
            }
        }
    }
}
.deals-of-the-day{
    padding: 0px 12px;
    padding-top: 25px;
    padding-bottom: 5px;
    .deals-of-the-day-textAndLinks{
        margin-bottom: 44px;
        .deals-of-the-day-header-text{
            width: 270.89px;
            height: 38.4px;
            margin-right: 30px;
            h1{
                font-size: 32px;
                font-weight: 700;
            }
        }
        .deals-of-the-day-link{
            width: 81.84px;
            height: 24px;
            a{
                font-size: 16px;
                font-weight: 400;
                font-family: Lato;
            color: #7e7e7e;
                
            }
            i{
                font-size: 12px;
            color: #7e7e7e;

            }
        }
    }
    .deals-of-the-day-products{
        position: relative;
        height: 442.48px;
        column-gap: 24px;
        .deals-of-the-day-product{
            position: relative;
            width: 355.8px;
            height: 100%;
            .deals-of-the-day-product-image{
                width: 100%;
                height: 315.08px;
                border-radius: 15px;
            }
            .deals-of-the-day-product-image-1{
                background-image: url('http://wp.alithemes.com/html/nest/demo/assets/imgs/banner/banner-5.png');
                background-size: cover;
            }
            .deals-of-the-day-product-image-2{
                background-image: url('http://wp.alithemes.com/html/nest/demo/assets/imgs/banner/banner-6.png');
                background-size: cover;
            }
            .deals-of-the-day-product-image-3{
                background-image: url('http://wp.alithemes.com/html/nest/demo/assets/imgs/banner/banner-7.png');
                background-size: cover;
            }
            .deals-of-the-day-product-image-4{
                background-image: url('http://wp.alithemes.com/html/nest/demo/assets/imgs/banner/banner-8.png');
                background-size: cover;
            }
            .deals-of-the-day-product-content-container{
                width: 305.99px;
                height: 192.4px;
                position: absolute;
                left: 24.905px;
                bottom: 25px;
                .deals-of-the-day-product-content{
                    width: 100%;
                    height: 100%;
                    padding: 25px 30px;
                    background-color: white;
                    border-radius: 10px;
                    box-shadow: 5px 5px 15px rgb(233, 233, 233);
                    .product-rate{
                        height: 24px;
                        margin-top: 12px;
                        i{
                            font-size: 12px;
                            color: #fdc040;
                        }
                        p{
                            font-size: 14px;
                            font-family: Lato;
                            color: #b6b6b6;
                            margin-left: 5px;
                        }
                    }
                    div{
                        height: 24px;
                        p{
                            font-size: 14px;
                            font-family: Lato;
                            color: #b6b6b6;
                            strong{
                                color: #3Bb77e;
                            }
                        }
                    }
                    h1{
                        font-size: 16px;
                        font-family: Quicksand;
                        font-weight: 700;
                        color: #253d4e;
                    }
                    .deals-of-the-day-product-content-bottom{
                        width: 237.84px;
                        height: 36px;
                        margin-top: 15px;
                        .product-price{
                            width: 101.4px;
                            .new-price{
                                font-size: 18px;
                                font-family: Quicksand;
                                color: #3Bb77e;
                                font-weight: 700;
                            }
                            .old-price{
                                margin-left: 7px;
                                font-size: 14px;
                                font-weight: 700;
                                color: rgb(173, 173, 173);
                                text-decoration: line-through;
                            }
                        }
                        .add-to-basket{
                            width: 84.9px;
                            height: 36px;
                            .addToBasket{
                                width: 100%;
                                height: 100%;
                                border: 0px;
                                border-radius: 4px;
                                background-color: rgb(222, 249, 236);
                                color: #3Bb77e;
                                font-size: 14px;
                                font-weight: 700;
                                i{
                                    font-size: 14px;
                                }
                            }
                        }
                    }
                    
                }
                .deals-of-the-day-product-countdown{
                    position: absolute;
                    bottom: 212.4px;
                    width: 100%;
                    height: 65px;
                    div{
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                    }
                    .countdown{
                        width: 60px;
                        height: 64.4px;
                        border-radius: 4px;
                        background-color: white;
                        .countdown-amount{
                            font-size: 20px;
                            color: #3BB77E;
                        }
                        .countdown-period{
                            font-size: 16px;
                            color: #253d4e;
                        }
                    }
                }
            }
            
        }
    }
}
.top-products{
    padding: 25px 12px;
    display: flex;
    column-gap: 24px;
    margin-bottom: 30px;
    .topProduct{
        width: 355.8px;
        height: 449.16px;
        h1{
            height: 49.8px;
            padding-bottom: 20px;
            margin-bottom: 30px;
            border-bottom: 1px solid rgb(236, 236, 236);
            font-size: 24px;
            font-weight: 700;
        }
        .top-selling-product{
            width: 355.8px;
            height: 109.79px;
            margin-bottom: 20px;
            display: flex;
            align-items: center;
            .top-selling-product-image{
                width: 126.59px;
                height: 100%;
                border-radius: 10px;
            }
            .top-selling-product1-image{
                background-image: url('http://wp.alithemes.com/html/nest/demo/assets/imgs/shop/thumbnail-1.jpg');
                background-size: cover;
            }
            .top-selling-product2-image{
                background-image: url('http://wp.alithemes.com/html/nest/demo/assets/imgs/shop/thumbnail-2.jpg');
                background-size: cover;
            }
            .top-selling-product3-image{
                background-image: url('http://wp.alithemes.com/html/nest/demo/assets/imgs/shop/thumbnail-3.jpg');
                background-size: cover;
            }
            .trending-products-product1-image{
                background-image: url('http://wp.alithemes.com/html/nest/demo/assets/imgs/shop/thumbnail-4.jpg');
                background-size: cover;
            }
            .trending-products-product2-image{
                background-image: url('http://wp.alithemes.com/html/nest/demo/assets/imgs/shop/thumbnail-5.jpg');
                background-size: cover;
            }
            .trending-products-product3-image{
                background-image: url('http://wp.alithemes.com/html/nest/demo/assets/imgs/shop/thumbnail-6.jpg');
                background-size: cover;
            }
            .recently-added-product1-image{
                background-image: url('http://wp.alithemes.com/html/nest/demo/assets/imgs/shop/thumbnail-7.jpg');
                background-size: cover;
            }
            .recently-added-product2-image{
                background-image: url('http://wp.alithemes.com/html/nest/demo/assets/imgs/shop/thumbnail-8.jpg');
                background-size: cover;
            }
            .recently-added-product3-image{
                background-image: url('http://wp.alithemes.com/html/nest/demo/assets/imgs/shop/thumbnail-9.jpg');
                background-size: cover;
            }
            .top-selling-product-content{
                width: 253.19px;
                height: 97.2px;
                padding: 0px 12px;
                span{
                    width: 100%;
                    font-size: 16px;
                    font-weight: 700;
                    border: 0px;
                    height: 38.4px;
                }
                .top-selling-product-content-rating{
                    display: flex;
                    width: 229.19px;
                    height: 24px;
                    align-items: center;
                    i{
                        font-size: 12px;
                        color: #fdc040;
                    }
                    p{
                        margin-left: 5px;
                        font-size: 14px;
                        color: rgb(182, 182, 182);
                        font-family: Lato,sans-serif;
                    }
                }
                .top-selling-product-price{
                    width: 229.19px;
                    height: 24.8px;
                    margin-top: 10px;
                    .new-price{
                        color: #3BB77E;
                        font-size: 18px;
                        font-weight: 700;
                    }
                    .old-price{
                        margin-left: 5px;
                        text-decoration: line-through;
                        color: #ADADAD;
                        font-size: 14px;
                        font-weight: 700;
                    }
                }
            }
        }
    }
}