@media screen and (max-width: 1380px){
    .main-page-content-container{
        flex-direction: column;
        align-items: center;
    }
}
@media screen and (max-width: 1200px) {
    .header-container{
        display: none !important;
    }
    .header-container-2{
        .header-container-2-right{
            display: none !important;
        }
    }
    body{
        margin: 0px 119.6px !important;
    }
    .banners{
        .banner-text{
            h1{
                font-size: 18px !important;
            }
        }
    }
    .daily-best-sells{
        .daily-best-sells-container{
            // column-gap: 24px !important;
    
            .daily-best-sells-banner{
                width: 216px !important;
                .banner-text{
                    width: 129px !important;
                }
        
            }
            .daily-best-sells-slider-prev{
                left: 255px !important;
            }
            .daily-best-sells-slider-next{
                right: 20px !important;
            }
            .daily-best-sells-slider{
                width: 720px !important;
                .salam{
                    margin: 0px 12px !important;
                    width: 156px !important;
                }
                .card-type-2{
                    .card-top{
                        width: 156px !important;
                        height: 129px !important;
                        img{
                            width: 104px !important;
                            height: 104px !important;
                        }
                    }
                    .card-bottom{
                        width: 156px !important;
                        height: 372px !important;
                        .add-to-cart{
                            width: 114px !important;
                            height: 89px !important;
                        }
                    }
                }
            }
        }

    }
    .lastest-part-of-footer{
        .lastest-part-of-footer-container{
            justify-content: space-between;
            .call-center{
                display: none;
            }
        }
    }          
}
@media screen and (max-width: 1032px){
    nav{
        .navigation-container{
            .call-center{
                display: none !important;
            }
        }
    }
}
@media screen and (min-width: 991px) {
     .header-container-2{
        .mobile-menu{
            display: none;
        }
     }   
        
}
@media screen and (max-width: 991px) {
    .header-container-2{
        .search-container{
            display: none;
        }
        .header-container-2-right{
            display: flex !important;
            p{
                display: none;
            }
            .compare, .account{
                display: none !important;
            }
        }
    }
    nav{
        display: none !important;
    }
    .banners{
        .banner-1, .banner-2{
            width: calc(100% / 2);
        }
    }   
       
}
@media screen and (max-width: 768px) {
    .subscribtion{
        img{
            display: none !important;
        }
    }
}
@media screen and (max-width: 702px) {
    body{
        margin: 0px !important;
    }
}
@media screen and (max-width: 640px){
    .subscribtion{
        display: flex;
        align-items: center;
        justify-content: center;
        .subscribtion-texts-container{
            height: 345px;
            .subscribe{
                i{
                    bottom: 155px;
                }
            }
        }
        
    }
}
@media screen and (max-width: 500px) {
    .subscribtion{
        .subscribtion-texts-container{
            width: 320px;
            height: 369px;
        }
    }
}
@media screen and (max-width: 480px) {
    .subscribtion{
        .subscribtion-texts-container{
            h1{
                font-size: 22px;
            }
            p{
                font-size: 14px;
                b{
                    font-size: 14px;
                }
            }
            width: 416px;
            height: 185.8px;
            .subscribe{
                width: 361px;
                input{
                    width: 241px;
                }
                .btnSubscribe{
                    width: 119px;
                }
            }
        }
    }
}
@media screen and (max-width: 425px){
    .main-page-content-container{
        .main-page-content{
            .product-filter{
                flex-direction: column;
            }
        }
    }
    
}
