nav {
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  background-color: white;
  z-index: 2;
}

.navigation-container {
  width: 100%;
  height: 70.8px;
  padding: 0px 12px;
  border-bottom: 1px solid #ececec;
}

.navigation-container .main-categories {
  cursor: pointer;
  font-family: Quicksand;
  width: 255.43px;
  height: 44px;
  background-color: #3bb77e;
  border-radius: 5px;
  color: white;
  margin-right: 35px;
}

.navigation-container .main-categories i {
  font-size: 18px;
}

.navigation-container .main-categories p {
  font-size: 16px;
  font-weight: 700;
}

.navigation-container .main-menu {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 963.66px;
  height: 100%;
}

.navigation-container .main-menu a {
  font-size: 16px;
  font-family: Quicksand;
  color: #253D4E;
}

.navigation-container .main-menu .hot-deals {
  width: 133.68px;
  padding-right: 30px;
}

.navigation-container .main-menu .hot-deals a {
  width: 75.68px;
  margin-left: 9px;
  cursor: pointer;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.navigation-container .main-menu .hot-deals a:hover {
  color: #3bb77e;
}

.navigation-container .main-menu .dropDown {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: absolute;
  top: 50.6px;
  margin-top: 30px;
  padding: 25px 15px;
  border: 1px solid #ececec;
  border-radius: 10px;
  opacity: 0;
  visibility: hidden;
  -webkit-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.35s;
          transition-duration: 0.35s;
  -webkit-transition-timing-function: ease;
          transition-timing-function: ease;
  -webkit-transition-delay: 0s;
          transition-delay: 0s;
  z-index: 1;
  background-color: white;
}

.navigation-container .main-menu .dropDown a {
  font-size: 14px;
  color: #253d4e;
}

.navigation-container .main-menu .home {
  position: relative;
  padding: 0px 17px;
  width: 96.16px;
  cursor: pointer;
}

.navigation-container .main-menu .home i {
  color: #3bb77e;
  font-size: 8px;
}

.navigation-container .main-menu .home a {
  color: #3bb77e;
}

.navigation-container .main-menu .home .homeLink {
  width: 100%;
  height: 100%;
}

.navigation-container .main-menu .home .home-dropdown {
  width: 250px;
  height: 241px;
}

.navigation-container .main-menu .home .home-dropdown a {
  font-size: 14px;
  color: #253d4e;
}

.navigation-container .main-menu .home:hover .home-dropdown {
  opacity: 100;
  visibility: visible;
}

.navigation-container .main-menu .about {
  padding: 0px 17px;
  width: 80.2px;
}

.navigation-container .main-menu .about a {
  cursor: pointer;
  -webkit-transition: 0.25s;
  transition: 0.25s;
}

.navigation-container .main-menu .about a:hover {
  color: #3bb77e;
}

.navigation-container .main-menu .shop, .navigation-container .main-menu .vendors, .navigation-container .main-menu .mega-menu, .navigation-container .main-menu .blog, .navigation-container .main-menu .pages, .navigation-container .main-menu .contact {
  padding: 0px 17px;
  width: 89.45px;
}

.navigation-container .main-menu .shop a, .navigation-container .main-menu .vendors a, .navigation-container .main-menu .mega-menu a, .navigation-container .main-menu .blog a, .navigation-container .main-menu .pages a, .navigation-container .main-menu .contact a {
  cursor: pointer;
  -webkit-transition: 0.25s;
  transition: 0.25s;
}

.navigation-container .main-menu .shop i, .navigation-container .main-menu .vendors i, .navigation-container .main-menu .mega-menu i, .navigation-container .main-menu .blog i, .navigation-container .main-menu .pages i, .navigation-container .main-menu .contact i {
  color: #253D4E;
  font-size: 8px;
}

.navigation-container .main-menu .shop a:hover, .navigation-container .main-menu .vendors a:hover, .navigation-container .main-menu .mega-menu a:hover, .navigation-container .main-menu .blog a:hover, .navigation-container .main-menu .pages a:hover, .navigation-container .main-menu .contact a:hover {
  color: #3bb77e;
}

.navigation-container .main-menu .shop {
  position: relative;
}

.navigation-container .main-menu .shop .shopLink {
  width: 100%;
  height: 100%;
}

.navigation-container .main-menu .shop .shop-dropdown {
  width: 250px;
  height: 451px;
}

.navigation-container .main-menu .shop:hover .shop-dropdown {
  opacity: 100;
  visibility: visible;
}

.navigation-container .main-menu .vendors {
  position: relative;
  width: 114.63px;
}

.navigation-container .main-menu .vendors .vendorsLink {
  width: 100%;
  height: 100%;
}

.navigation-container .main-menu .vendors .vendors-dropdown {
  width: 250px;
  height: 241px;
}

.navigation-container .main-menu .vendors:hover .vendors-dropdown {
  opacity: 100;
  visibility: visible;
}

.navigation-container .main-menu .mega-menu {
  width: 140.73px;
}

.navigation-container .main-menu .blog {
  position: relative;
  width: 85.28px;
}

.navigation-container .main-menu .blog .blogLink {
  width: 100%;
  height: 100%;
}

.navigation-container .main-menu .blog .blog-dropdown {
  width: 250px;
  height: 206px;
}

.navigation-container .main-menu .blog:hover .blog-dropdown {
  opacity: 100;
  visibility: visible;
}

.navigation-container .main-menu .pages {
  width: 97.14px;
  position: relative;
}

.navigation-container .main-menu .pages .pagesLink {
  width: 100%;
  height: 100%;
}

.navigation-container .main-menu .pages .pages-dropdown {
  width: 250px;
  height: 346px;
}

.navigation-container .main-menu .pages:hover .pages-dropdown {
  opacity: 100;
  visibility: visible;
}

.navigation-container .main-menu .contact {
  width: 95.01px;
}

.navigation-container .call-center {
  width: 174.137px;
  height: 38px;
  -webkit-column-gap: 10px;
          column-gap: 10px;
  margin-left: 65px;
}

.navigation-container .call-center p {
  font-size: 26px;
  font-family: Quicksand;
  color: #3bb77e;
  font-weight: 700;
  font-stretch: 100%;
}

.navigation-container .call-center span {
  font-size: 12px;
  font-family: Lato;
  color: #7e7e7e;
}
/*# sourceMappingURL=shop-navigation.css.map */