.div1{
    width: 400px;
    height: 400px;
    background-color: purple;
}
.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
body{
    margin: 0px;
    padding: 0px;
}
*{
    box-sizing: border-box;
}
button{
    margin-top: 30px;
}